body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('/menu-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}
